extends navbar.pug
block append head
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My Profile
        link(rel='stylesheet' href='/stylesheets/my-profile.css')
    body
        div.topContainer
            div(class="header-container")
                h1(class="header") Hello, #{user.firstName}. This is your game center.
                div(class="subheader")
                    p Click on one of your games below to change your play status.
        div(class="profile-sections")
            div(class="my-games-container")
                div(class="toPlay-container")
                    ul(class="toPlay")
                        label Want to Play
                            div(class="game-list")
                                each game in toPlay
                                    div(class="game-title-and-img")
                                        li
                                            label(class="game-title")= game.title
                                                p
                                            a(href=`/games/${game.id}`)
                                                img(class="game-img" src=`${game.image}`, alt="Game Image")
                div(class="playing-container")
                    ul(class="playing")
                        label Currently Playing
                        div(class="game-list")
                                each game in playing
                                    div(class="game-title-and-img")
                                        li
                                            label(class="game-title")= game.title
                                                p
                                            a(href=`/games/${game.id}`)
                                                img(class="game-img" src=`${game.image}`, alt="Game Image")
                div(class="played-container")
                    ul(class="played")
                        label Have Played
                        div(class="game-list")
                                each game in played
                                    div(class="game-title-and-img")
                                        li
                                            label(class="game-title")= game.title
                                                p
                                            a(href=`/games/${game.id}`)
                                                img(class="game-img" src=`${game.image}`, alt="Game Image")
            div(class="my-comments-container")
                table
                    caption My Comments
                    thead
                        tr(class="table-header")
                            th Title
                            th Comment
                    tbody.comment_overflow
                        each comment in comments
                            tr
                                td: a(href=`/games/${comment.Game.id}`)= comment.Game.title
                                td= comment.comment
block append footer
